@charset "UTF-8";
/**
 * var.scss 变量
 * @author Kayo&Clearwu
 * @date 2014-11-14
 *
 * --- function ----
 * #function QMUI 功能相关
 *
 * --- common ----
 * #common 通用

 * --- component ----
 * #button 按钮组件
 * #dialog 对话框组件
 * #mask 遮罩层组件
 * #dropdownMenu 下拉菜单组件
 * #tab 选项卡组件
 * #inputText、#textarea 文本输入组件
 *
 */

// 计算的工具方法
@import "../qmui/mixin/tool/_calculate";

// #common 通用
$common_fontFamily: "Helvetica Neue",Helvetica,Verdana,san-serif;
$common_fontSize: 14px;
$common_body_background: #fff;
$common_body_color: #000;
$common_color_link: #2685d2;
$common_color_linkTapHighlight: rgba(105, 186, 255, .13);
$common_color_separator: #ccccce;
$common_color_border: $common_color_separator;
$common_color_placeholder: #ADB4BE;
$common_color_placeholderFocus: $common_color_placeholder;
$common_zIndex_1: 10;
$common_zIndex_2: 20;
$common_zIndex_3: 30;
$common_zIndex_4: 40;
$common_zIndex_5: 50;
$common_zIndex_6: 60;
$common_zIndex_7: 70;
$common_zIndex_8: 80;
$common_zIndex_9: 90;
$common_zIndex_10: 100;


// #button 按钮组件
$btn_minWidth: 46px;
$btn_height: 30px;
$btn_lineHeight: $btn_height;
$btn_padding: 0 12px;
$btn_background: #04C9E8;
$btn_border: 1px solid transparent;
$btn_fontSize: 13px;
$btn_color: #fff;


// #dialog 对话框组件
$dialog_zIndex: $common_zIndex_10;
$dialog_minWidth: 420px; // 对话框的最小宽度
$dialog_background: #fff;
$dialog_border: none;
$dialog_radius: 5px;

$dialog_head_background: #00C0E1;
$dialog_head_borderBottom: none; // 对话框头部的下边线

$dialog_title_height: 40px;
$dialog_title_fontSize: 14px;
$dialog_title_fontWeight: bold;
$dialog_title_color: #fff;
$dialog_title_lineHeight: $dialog_title_height;

$dialog_close_top: 5px;
$dialog_close_right: 6px;

$dialog_body_background: #fff;

$dialog_foot_background: $dialog_background; // 对话框底部的背景，默认与对话框的背景一样
$dialog_foot_borderTop: $dialog_head_borderBottom; // 对话框底部的上边线，样式默认与对话框边线一样


// #mask 遮罩层组件
$mask_zIndex: $common_zIndex_9;
$maskWrap_zIndex: $mask_zIndex;
$mask_background: #000;
$mask_opacity: 0.5;


// #dropdownMenu 下拉菜单组件
$dropdownMenu_zIndex: $common_zIndex_3;
$dropdownMenu_background: #fff;
$dropdownMenu_border: 1px solid $common_color_border;
$dropdownMenu_ulPadding: 12px 0;
$dropdownMenu_itemLink_height: 32px;
$dropdownMenu_itemLink_lineHeight: $dropdownMenu_itemLink_height;
$dropdownMenu_itemLink_padding: 0 15px;
$dropdownMenu_itemLink_color:  #000;
$dropdownMenu_split_margin: 5px 0;
$dropdownMenu_split_borderTop: 1px solid #ccc;


// #tab 选项卡组件
$tab_background: #fff;
$tab_head_background: $tab_background;
$tabNav_padding: 0 16px;
$tabNav_item_margin: 0 24px 0 0;
$tabNav_itemLink_height: 43px;
$tabNav_itemLink_lineHeight: $tabNav_itemLink_height;
$tabNav_itemLink_padding: 0;
$tabNav_itemLink_background: transparent;
$tabNav_itemLink_color: #858C96;


// #inputText、#textarea 文本输入组件
$textField_width: 270px;
$textField_lineHeight: 22px;
$textField_padding: 12px 16px;
$textField_background: #fff;
$textField_border: 1px solid $common_color_border;
$textField_borderRadius: 5px;

$inputText_height: $textField_lineHeight;

$textarea_height: $textField_lineHeight * 3;
