@charset "UTF-8";
/**
 * _dropdownMenu.scss 下拉菜单组件
 * @author clearwu 
 * @date 2014-11-11
 *
 * .qui_dropdownMenu
 *
 */

/* .qui_dropdownMenu */
.qui_dropdownMenu {
  position: absolute;
  z-index: $dropdownMenu_zIndex;
  background: $dropdownMenu_background;
  border: $dropdownMenu_border;
}
.qui_dropdownMenu ul {
  padding: $dropdownMenu_ulPadding;
}
.qui_dropdownMenu_itemLink {
  display: block;
  height: $dropdownMenu_itemLink_height;
  line-height: $dropdownMenu_itemLink_lineHeight;
  padding: $dropdownMenu_itemLink_padding;
  color: $dropdownMenu_itemLink_color;
}
.qui_dropdownMenu_split {
  display: block;
  height: 0;
  line-height: 0;
  font-size: 0;
  margin: $dropdownMenu_split_margin;
  border-top: $dropdownMenu_split_borderTop;
}


