@charset "UTF-8";
/**
 * _button.scss
 * @author Kayo 
 * @date 2015-08-17
 *
 * .dm_btn
 *  + .dm_btn_Blue
 *
 */


/* .dm_btn */
.dm_btn {
  background-color: #04C9E8;
  border-radius: 2px;
  /* line-height 的偏移值依赖于不同字体 */
  line-height: $btn_lineHeight + 2;
  line-height: $btn_lineHeight + 1 \9\0;
  _line-height: $btn_lineHeight + 4;
  
  &:hover {
    background-color: #05D7F7;
  }
  &:active,
  &_Active {
    background-color: #04B1CC;
  }
  &[Disabled] {
    @include opacity(.5);
  }

}

button.dm_btn,
input.dm_btn {
  *height: $btn_lineHeight + 2;
  *line-height: $btn_lineHeight - 3;
  _line-height: $btn_lineHeight - 1;
}

.dm_btn_Ghost {
  background-color: transparent;
  border: 1px solid #04C9E8;
  color: #04C9E8;

  &:hover {
    background-color: transparent;
    border-color: #05D7F7;
    color: #05D7F7;
  }
  &:active,
  &_Active {
    background-color: transparent;
    border-color: #04B1CC;
    color: #04B1CC;
  }
}
